.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}

body {
  background-color: white;
  background-image: url(./images/floor.png);
  background-repeat: repeat;
  min-height: 100vh;
  aspect-ratio: 1/1;
  overflow-x: hidden;
}

.border {
  outline: 2px double black;
  outline-offset: -8px;
}

.relative {
  position: relative;
}
