.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: #edede9;
  font-family: 'Josefin Sans';
  background-repeat: repeat;
  overflow: hidden;
}

.border {
  outline: 2px double black;
  outline-offset: -8px;
}

.relative {
  position: relative;
}
